include mixins

html(lang="en")
    block headVars
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title} | SugarGain | iGEM BITS Goa
    body
        include nav.pug
        header.d-flex.justify-content-center
            .container.d-flex.align-items-end
                #heading
                    h1 #{title}
        main
            .container
                .row
                    .sidebar.col-3
                        .nav#contents
                            ul
                                each item in contents
                                    li.d-flex.justify-content-left
                                        span.circle(aria-hidden=true)
                                            span.icon.arrow
                                        a(href='#' + item.replace(/ /g,'') )= item 
                                        // regex to remove spaces
                    .content.col-9
                        article
                            block article

                        block nextButton


                        article#references
                            - var sectionTitle = "References"
                            h1(id=sectionTitle.replace(/ /g,''))= sectionTitle + ' '
                                //- a.internal(href=pageLink + '#' + sectionTitle.replace(/ /g,'') 
                                button.btn.internal(data-toggle="tooltip" data-placement="right"
                                    title="Copy link to this section!")= '#'
                            ol
                                block citations
                                each citation in citations
                                    - var parts = citation.MLA.split('"')
                                    - var authors = parts[0]
                                    - var title = parts[1]
                                    - var journal = parts[2].match(/([\D]*)(.*)/)
                                    - var journalTitle = journal[1]
                                    - var journalInfo  = journal[2]
                                    - var scholar = "https://scholar.google.com/scholar?q=" + title 
                                    li
                                        p.author= authors
                                        p.title= title
                                        p
                                            span.journalTitle= journalTitle
                                            | 
                                            span.journalInfo= journalInfo
                                        a(href=citation.doi target="_blank") CrossRef
                                        a(href=scholar target="_blank") Google Scholar
                                        a() Back to text


