- urlPrefix = "https:///igembitsgoa.github.io/wiki/"
//- - urlPrefix = "/"

mixin heading(sectionTitle)
    h1(id=sectionTitle.replace(/ /g,''))= sectionTitle + ' '
        //- a.internal(href=pageLink + '#' + sectionTitle.replace(/ /g,'') 
        button.btn.internal(data-toggle="tooltip" data-placement="right"
            title="Copy link to this section!")= '#'

mixin button(buttonTitle)
    if buttonTitle.length <= 7
        - var length = "short"
    else if buttonTitle.length <= 11
        - var length = "long"
    else
        - var length = "super-long"
    .d-flex.justify-content-end.my-5
        a.button.read-more(class=length
                           href=urlPrefix + buttonTitle.replace(/ /g,'_'))
            span.circle(aria-hidden=true)
                span.icon.arrow
            span.button-text= buttonTitle

//- Function for in-text citation
-
    var intext = function(num, text) {
        var link = "<a href=\"#citation" + num + "\">" + text + "</a>";
        var wrapper = "<span id=\"intext" + num + "\">(" + link + ")</span>"
        return wrapper;
    }