include mixins

html(lang="en")
  block headVars
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title} | SugarGain | iGEM BITS Goa
    if requireMathJax
      script(src="https://2020.igem.org/common/MathJax-2.5-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
  body
    include nav.pug
    style
      | #header-background {
      |     background-image: url( #{backgroundImage});
      | }
      | header {
      |     background-color: #{headerBackgroundColor};
      | }
    -
      theme_class = {
        "theme-project":  theme == "project", 
        "theme-human-practices": theme == "human-practices",
        "theme-parts": theme == "parts",
        "theme-journal": theme == "journal",
        "theme-team": theme == "team",
        "theme-contribution": theme == "contribution",
        "theme-other-areas": theme == "other-areas"
      }
    header.d-flex.justify-content-center
      .custom-container
        #header-background
        #heading
          h1 #{title}
        a(href= backgroundAttributionLink target="_blank" rel="noopener")
          span#bg-attribution(title=backgroundAttribution data-placement="top")
    main(class= theme_class)
      .custom-container
        .row
          .sidebar
            .nav#months
              ul
                //- Filled automatically from js

          .content(class={"fullwidth": fullWidth == true})

            #dropdown-container
              select(name="months-dropdown" id="months-dropdown").custom-select
                option(value="Jan20" selected) January 2020
                option(value="Feb20") February 2020
                option(value="Mar20") March 2020
                option(value="Apr20") April 2020
                option(value="May20") May 2020
                option(value="Jun20") June 2020
                option(value="Jul20") July 2020
                option(value="Aug20") August 2020
                option(value="Sep20") September 2020

            block article


            #buttons
              block buttons



    footer 
      include footer_nav.pug
      include footer_brand.pug



