extends ../templates/contents.pug

block headVars
    - var title = "Description"
    - var contents = ['Problem', 'Project Design', 'Dummy Section', 'References']
    //- Don't forget References

block article
    //- mind the quotes and the plus sign
    +heading("Problem")
    p.
        The current industry practices for chlorophyll removal from green seed canola oil involve the use 
        of acid-activated clays (AACs). However, AACs are associated with a variety of problems, including 
        product loss, lack of reusability, and environmental concerns.
    h2 Level 2 Heading
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing.
    p.
        The irreversible binding between the AACs and chlorophyll prevents reuse of the AACs, leading
        to increased costs for the manufacturer. This also increases the amount of 
        !{intext(1, "Rosano et al., 2019")} waste produced by the system. The waste is mixed into animal feed 
        and released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.
    h3 Level 3 Heading
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.
    
    +heading("Project Design")
    p.
        The current industry practices for chlorophyll removal from green seed canola oil involve the use 
        of acid-activated clays (AACs). However, AACs are associated with a variety of problems, including 
        product loss, lack of reusability, and environmental concerns.
    //- +image(1, "calgary.jpg", "hello", 600)
    img(src="../assets/img/logo.jpg" width=100)
    img(src="../assets/img/calgary.jpg" width=100)

    h2 Level 2 Heading
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.
    h3 Level 3 Heading
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of !{intext(2, "Allen & Sheridan, 2015")} oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.
    +heading("Dummy Section")
    p.
        The current industry practices for chlorophyll removal from green seed canola oil involve the use 
        of acid-activated clays (AACs). However, AACs are associated with a variety of problems, including 
        product loss, lack of reusability, and environmental concerns.
    h2 Level 2 Heading
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.
    table.table.table-striped.table-bordered
        caption Table 1: Bordered table
        thead
            tr
                th(scope="col") #
                th(scope="col") First
                th(scope="col") Last
                th(scope="col") Handle
        tbody
            tr
                th(scope="row") 1
                td Mark
                td Otto
                td @mdo
            tr
                th(scope="row") 1
                td Mark
                td Otto
                td @mdo
            tr
                th(scope="row") 1
                td Mark
                td Otto
                td @mdo
            tr
                th(scope="row") 1
                td Mark
                td Otto
                td @mdo
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        !{defn("chlorophyll", "green pigment")} prevents reuse of the AACs, leading to increased costs for the
        manufacturer. This also increases the amount of waste produced by the system. The waste is mixed into
        animal feed and released into the ecosystem, where it has the potential to alter soil pH and nutrient 
        !{link("here is a link", "https://google.com")} availability for future crops. Our team sought to find
        an alternative method of oil-processing that addresses all three issues presented by AACs.
    table.table.table-striped
        caption Table 2: Borderless table
        thead
            tr
                th(scope="col") #
                th(scope="col") First
                th(scope="col") Last
                th(scope="col") Handle
        tbody
            tr
                th(scope="row") 1
                td Mark
                td Otto
                td @mdo
            tr
                th(scope="row") 1
                td Mark
                td Otto
                td @mdo
            tr
                th(scope="row") 1
                td Mark
                td Otto
                td @mdo
            tr
                th(scope="row") 1
                td Mark
                td Otto
                td @mdo
    p.
        The current industry #[strong #[em practices]] for chlorophyll removal from green seed canola oil involve the use 
        of acid-activated clays (AACs). However, AACs are associated with a variety of problems, including 
        product loss, lack of reusability, and environmental concerns.
    h3 Level 3 Heading
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of !{intext(2, "hello again")} oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.

append nextButton
    //- mind the quotes and the plus sign
    +button("Design")

//- DO NOT MODIFY START AND END LINES.
//- Citations DOI Start
    2. https://doi.org/10.1007/s00484-015-1117-4
    1. https://doi.org/10.1016/j.ijid.2019.08.003
    3. https://doi.org/10.1007/s00484-015-1117-4
//- Citations DOI End

prepend citations_url
    -
        var citations_url = [
            {
                // 4
                "authors": "",
                "title": "Agriculture: Crop production: Sugarcane. ",
                "published": "",
                "accessed": "June 22, 2020",
                "site_name": "TNAU Agritech Portal",
                "url": "https://google.com"
            },
            {
                // 5
                "authors": "Pranav",
                "title": "Agriculture: Crop production: Sugarcane. ",
                "published": "",
                "accessed": "June 22, 2020",
                "site_name": "TNAU Agritech Portal",
                "url": "https://google.com"
            }
        ]

prepend citations_books
    -
        var citations_books = [
            {
                // 5
                "authors": "Ingalls, B. P.",
                "year_published": "2013",
                "title": "Mathematical modeling in systems biology: An introduction.",
                "publisher": "MIT Press",
                "Google_Books_URL": "https://books.google.co.in/books?id=OYr6AQAAQBAJ"
            }
        ]

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
prepend citations_doi
    -
        var citations_doi = [
        {
            'id': '1',
            'authors': 'Rosano, A., Bella, A., Gesualdo, F., Acampora, A., Pezzotti, P., Marchetti, S., ... & Rizzo, C. (2019). ',
            'title': 'Investigating the impact of influenza on excess mortality in all ages in Italy during recent seasons (2013/14-2016/17 seasons).',
            'journal': 'International Journal of Infectious Diseases',
            'numbers': '88, 127-134. ',
            'doi': 'https://doi.org/10.1016/j.ijid.2019.08.003',
        },
        {
            'id': '2',
            'authors': 'Allen, M. J., & Sheridan, S. C. (2015). ',
            'title': 'Mortality risks during extreme temperature events (ETEs) using a distributed lag non-linear model.',
            'journal': 'International Journal of Biometeorology',
            'numbers': '62(1), 57-67. ',
            'doi': 'https://doi.org/10.1007/s00484-015-1117-4',
        },
        {
            'id': '3',
            'authors': 'Allen, M. J., & Sheridan, S. C. (2015). ',
            'title': 'Mortality risks during extreme temperature events (ETEs) using a distributed lag non-linear model.',
            'journal': 'International Journal of Biometeorology',
            'numbers': '62(1), 57-67. ',
            'doi': 'https://doi.org/10.1007/s00484-015-1117-4',
        }
        ]
