html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title iGEM BITS Goa
    body
        include ../templates/nav.pug
        header.d-flex.justify-content-center
            .container.d-flex.align-items-end
                .heading
                    h1 Description
        main
            .container
                .row
                    .sidebar.col-3
                        #contents
                            ul
                                li.d-flex.justify-content-left
                                    span.circle(aria-hidden=true)
                                        span.icon.arrow
                                    a(href="#") Inspiration
                                li.d-flex.justify-content-left
                                    span.circle(aria-hidden=true)
                                        span.icon.arrow
                                    a(href="#") Description
                                li.d-flex.justify-content-left
                                    span.circle(aria-hidden=true)
                                        span.icon.arrow
                                    a(href="#") Explanation
                                li.d-flex.justify-content-left
                                    span.circle(aria-hidden=true)
                                        span.icon.arrow
                                    a(href="#") Project Goals


                    .content.col-9
                        h1 Tonnes of sugar are lost every year as post-harvest losses. 
                            span We're here to change that.
                        p.
                            Describe how the sugar industry is doomed and how revolutionary our project is. Basically a 
                            textual description of the problem and our solution, essentially repeating content from 
                            the animation above. Maybe add some numbers to put it into perspective. For people who don't
                            want to go through the animation but want a quick 
                            description. 
                        p.
                            The following sections summarize each important aspect of our project. I think it's best if we
                            cover all the medal criteria here (except the boring ones like attributions and all) so that 
                            the most important information is highlighted front and center. 
                        p.
                            The fact that a syn bio solution is better than just injecting invertase inhibitor also has to be
                            mentioned somewhere prominent. Not sure where though.
                        p
                            | Maybe we'll move to a more sustainable solution later, but for now, 
                            a(href='https://docs.google.com/document/d/1rIz6781r7rfrTbcgEW1J4UNyr1bBL3hShowc-FcC2Ow/edit?usp=sharing' target="_blank") here's a Google doc
                            |  with all this text so you guys can edit. 
                        p.
                            Describe how the sugar industry is doomed and how revolutionary our project is. Basically a 
                            textual description of the problem and our solution, essentially repeating content from 
                            the animation above. Maybe add some numbers to put it into perspective. For people who don't
                            want to go through the animation but want a quick 
                            description. 
                        p.
                            The following sections summarize each important aspect of our project. I think it's best if we
                            cover all the medal criteria here (except the boring ones like attributions and all) so that 
                            the most important information is highlighted front and center. 
                        p.
                            The fact that a syn bio solution is better than just injecting invertase inhibitor also has to be
                            mentioned somewhere prominent. Not sure where though.
                        p
                            | Maybe we'll move to a more sustainable solution later, but for now, 
                            a(href='https://docs.google.com/document/d/1rIz6781r7rfrTbcgEW1J4UNyr1bBL3hShowc-FcC2Ow/edit?usp=sharing' target="_blank") here's a Google doc
                            |  with all this text so you guys can edit. 
                        p.
                            Describe how the sugar industry is doomed and how revolutionary our project is. Basically a 
                            textual description of the problem and our solution, essentially repeating content from 
                            the animation above. Maybe add some numbers to put it into perspective. For people who don't
                            want to go through the animation but want a quick 
                            description. 
                        p.
                            The following sections summarize each important aspect of our project. I think it's best if we
                            cover all the medal criteria here (except the boring ones like attributions and all) so that 
                            the most important information is highlighted front and center. 
                        p.
                            The fact that a syn bio solution is better than just injecting invertase inhibitor also has to be
                            mentioned somewhere prominent. Not sure where though.
                        p
                            | Maybe we'll move to a more sustainable solution later, but for now, 
                            a(href='https://docs.google.com/document/d/1rIz6781r7rfrTbcgEW1J4UNyr1bBL3hShowc-FcC2Ow/edit?usp=sharing' target="_blank") here's a Google doc
                            |  with all this text so you guys can edit. 
                        p 
                            a(href)
                        .d-flex.justify-content-end.mt-5
                            // remember to add a class to the button
                            a.button.read-more.long
                                span.circle(aria-hidden=true)
                                    span.icon.arrow
                                span.button-text Description