include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title SugarGain | iGEM BITS Goa
  body
    include templates/nav.pug
    header.d-flex.justify-content-center.align-items-center
      video(autoplay="true" muted loop)
        source(src= require("./assets/video/homepage.mp4")['default'].substr(2), type='video/mp4')
    section.section1#description
      .container
        .row
          .sidebar.col-lg-3
            img(src=require("./assets/img/Home--Description.svg")['default'])
            h3
              | A cold winter day —
              br
              | The bacteria inhibit 
              br
              | Invertase from acting.

          .content.col-lg-9
            h2 Tonnes of sugar are lost every year as post-harvest losses. 
              span We're here to change that.
            p.
            :markdown-it(html)
              Sugarcane is one of India’s most important crops. It is cultivated on 5 million hectares of land, 
              making India the second-largest producer of the crop which contributes to 6% of the national GDP 
              and forms the livelihood for 20 million people across the country. 
            p.
            :markdown-it(html)
              This industry is in peril, however. Post-harvest sucrose deterioration is responsible for losses worth millions of rupees.
              Following its harvest, enzymatic activity reduces sugar recovery rates by upto 10%!
            p.
              Our solution mitigates this problem.
              <br>
              We’re SugarGain, and we’re making the world a sweeter place, quite literally!
            
            .row.mt-5
              .col-sm-5
                h3
                  | A cold winter day —
                  br
                  | The bacteria inhibit 
                  br
                  | Invertase from acting.
              .col-sm-7
                img(src=require("./assets/img/Home--Description.svg")['default'])

            .d-flex.justify-content-center.justify-content-sm-end.my-5
              +buttonRight("Description")
    section.section2#design
      .container
        .row
          .content.col-lg-9
            h2 Design caption goes here. 

            p.
              We aim to target invertase present in the sugarcane stem - the enzyme responsible for 
              cleaving sucrose into its constituents. Our project is structured into three major 
              modules: a fructose regulated anti-invertase construct, an atmospherically-regulated kill switch, 
              and a novel polymer inoculant.

            .row.mt-5
              .col-sm-5
                h3
                  | Reacting to fructose
                  br
                  | The bacteria synthesise
                  br
                  | Anti-invertase. 
              .col-sm-7
                img(src=require("./assets/img/Home--Design.svg")['default'])

            .d-flex.justify-content-center.justify-content-sm-end.my-5
              +buttonRight("Design")

          .sidebar.col-lg-3
            img(src=require("./assets/img/Home--Design.svg")['default'])
            h3
              | Reacting to fructose
              br
              | The bacteria synthesise
              br
              | Anti-invertase. 
    section.section3#safety
      .container
        .row
          .sidebar.col-lg-3
            img(src=require("./assets/img/Home--Safety.svg")['default'])
            h3
              | The microbe escapes
              br
              | its confined space. But Alas!
              br
              | The kill switch goes off. 
          .content.col-lg-9
            h2 Safety caption goes here. 

            p.
              Biosafety is a cruicial aspect of our project, especially so when our chassis is so closely involved with food
              products.
            p.
              Throughout our project design we have tried to be cognizant about identifying strategies for robust 
              biosafety. To ensure the highest possible levels of safety, we have developed a three-tier failsafe meachanism after 
              taking into consideration the various use cases of our chassis. 

            .row.mt-5
              .col-sm-5
                h3
                  | The microbe escapes
                  br
                  | its confined space. But Alas!
                  br
                  | The kill switch goes off. 
              .col-sm-7
                img(src=require("./assets/img/Home--Safety.svg")['default'])

            .d-flex.justify-content-center.justify-content-sm-end.my-5
              +buttonRight("Safety")  
    section.section4#human-practices
      .container
        .row

          .content.col-lg-9
            h2 Human-centered design.
            p.
              Human Practices is essential for responsible project design. Our approach to human practices consisted of multiple iterations 
              which allowed us to effectively interview industry experts, researchers and users. Throughout our project, we identified and 
              spoke to various diverse stakeholders relevant to our project. 
            p.
              We have tried our best to inculcate this feedback at every stage of design of our project. 

            .row.mt-5
              .col-sm-5
                h3
                  | Science and humans,
                  br
                  | Like shadow to a body:
                  br
                  | Inseparable.
              .col-sm-7
                img(src=require("./assets/img/Home--Human-Practices.svg")['default'])

            .d-flex.justify-content-center.justify-content-sm-end.my-5
              +buttonRight("Human Practices")

          .sidebar.col-lg-3
            img(src=require("./assets/img/Home--Human-Practices.svg")['default'])
            h3
              | Science and humans,
              br
              | Like shadow to a body:
              br
              | Inseparable.
    section.section5#collaboration
      .container
        .row
          .sidebar.col-lg-3
            img(src=require("./assets/img/Home--Modelling.svg")['default'])
            h3
              | Helping us with issues,
              br
              | And with making new friends too! —
              br
              | Collaborations.

          .content.col-lg-9
            h2 Modelling caption. 
            p.
              Mathematical models are the cornerstone of our project. We have designed six models that cover various aspects of SugarGain. Not only would these 
              describe the working of our system but they would also show the synergy between our planned experiments and our simulations. The various iterations 
              our models have gone through help us make an informed decision before moving to the lab. 

            .row.mt-5
              .col-sm-5
                h3
                  | Helping us with issues,
                  br
                  | And with making new friends too! —
                  br
                  | Collaborations.
              .col-sm-7
                img(src=require("./assets/img/Home--Modelling.svg")['default'])
            

            .d-flex.justify-content-center.justify-content-sm-end.my-5
              +buttonRight("Model")
    section.section6#contribution
      .container
        .row
          .content.col-lg-9
            h2 Contribution Headline 

            p.
              As a team participating in iGEM for the first time, we were absolutely thrilled by the community spirit that iGEM fosters. 
              It was amazing to see how helpful everyone was, and over the years, participating teams had developed into a tightly-knit 
              community, working together on shared goals and aspirations, and having lots of fun along the way!
            p.
              To contribute to this amazing community, we developed three softwares: iGEM WikiSync: A continuous deployment tool for iGEM wikis;
              iGEM WikiSync Github Action: A Github Actions plugin that allows Github repositories to deploy wikis to iGEM servers; and the iGEM Wiki 
              Starter Pack: The easiest way to build iGEM Wikis. 

            .row.mt-5
              .col-sm-5
                h3
                  | Wiki freeze so far
                  br
                  | yet awfully close it seems — 
                  br
                  | WikiSync's here to help.
              .col-sm-7
                img(src=require("./assets/img/Home--Contribution.svg")['default'])


            .d-flex.justify-content-center.justify-content-sm-end.my-5
              +buttonRight("Contribution")

          .sidebar.col-lg-3
            img(src=require("./assets/img/Home--Contribution.svg")['default'])
            h3
              | Wiki freeze so far
              br
              | yet awfully close it seems — 
              br
              | WikiSync's here to help.
    footer 
      include templates/footer_nav.pug
      include templates/footer_brand.pug
